main{
  width: 400px;
  margin: 0 auto;
}

main{
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX10266973.jpg");
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.beers{
  padding: 5px;
}

img {
    width: 50%;
    height: 50%;
}

h1, li{
  color: #45BBE7;
  text-shadow: 0 0 4px #000000;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 45px;
  align-content: center;
}

li{
  font-family: 'Teko', sans-serif;
  font-size: 32px;
}
